@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Comfortaa:400,700');

//Font
$font-base: 'Comfortaa', sans-serif;
$font-titles: 'Architects Daughter', cursive;

// Colors
$pale-pink: #FFD3CE;
$pale-yellow: #FFF1CE;
$pink: #FF7D7E;
$dark-pink: #D9556B;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
